* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color:skyblue;
    padding:10px;
    width: 100%;
    text-align: center;
    background-size: cover;
    height: 100vh;
    background-position: center;
}

header {
    background-color: #333;
    color: #fff;
    padding:10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}
header:hover{
    color: orange;
}

nav ul li a {
    color:white;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover{
    color:orange;
}
ul:hover{
    color: blue;
}


main {
    padding: 20px;
    background-color:skyblue;
    margin-top: 20px;
    border-radius: 5px;
}

section {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
button{
    color: blue;
}
button:hover{
    background-color: red;
}

